{% from 'bootstrap5/nav.html' import render_nav_item %}

<div class="px-3 py-2 text-bg-dark border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="{{url_for('main.index')}}"
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        id="navbar-logo"
      >
        <img id="logo_svg" src="{{url_for('static', filename='logo.svg')}}" />
      </a>

      {{ render_nav_item('main.index', 'Home') }} {{
      render_nav_item('demo.demoHome', 'Demo') }}
    </div>
  </div>
</div>
